<mat-nav-list>
  <a mat-list-item routerLink="/assignments" aria-label="Liste des devoirs">
    Liste des devoirs
  </a>

  @if (isLoggedIn) {
    <a mat-list-item routerLink="/ajout-devoir" aria-label="Ajouter un devoir">
      Ajouter un devoir
    </a>

    <a mat-list-item routerLink="/modification-devoir" aria-label="Modifier un devoir">
      Modifier un devoir
    </a>

    <a mat-list-item routerLink="/suppression-devoir" aria-label="Supprimer un devoir">
      Supprimer un devoir
    </a>
  }

  @if (isAdmin) {
    <a mat-list-item (click)="onClickPeuplerBD()" aria-label="Peupler la BD">
      Peupler la BD
    </a>

    <a mat-list-item routerLink="/generation-test" aria-label="Générer des données de test">
      Générer des données test
    </a>
  }
</mat-nav-list>