.title {
  margin-left: 16px;  
  font-weight: 500;    
  font-size: 1.2rem;   
}

.spacer {
  flex: 1 1 auto;
}

button.mat-icon-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
