.sidenav-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #f0f0f0;
}

.mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 24px;
  background-color: #ffffff;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
}

app-toolbar {
  flex-shrink: 0;
}

mat-sidenav {
  width: 250px;
  background-color: #e0e0e0;
}