<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #sidenav mode="side" opened>
    <div class="sidenav-header">
      
      @if (!isLoggedIn) {
        <button mat-flat-button color="primary" routerLink="/login">
          Login
        </button>
      }
      @if (isLoggedIn) {
        <button mat-flat-button color="warn" (click)="logOut()">
          Logout
        </button>
      }

    </div>
    <app-sidenav></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar (menuToggle)="sidenav.toggle()"></app-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>